<a href="https://colab.research.google.com/github/lt33tx/Landon_Tinch_DTSC3020_Fall2025-/blob/main/Assignment4_(ch_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

*Exercise*  1: Find and print the student with the lowest grade.

In [3]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_grade = min(grades.values())
for name, grade in grades.items():
    if grade == lowest_grade:
        print(name)

Omid

Exercise 2: print names of students who registered for any course containing

*   List item
*   List item

"Data"

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:

for student, course_list in courses.items():
    for course in course_list:
        if 'Data' in course:
            print(student)
            break

Sara
Reza
Lina

Exercise 3: Print titles of books that are not available.

In [7]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

for title, book_info in library.items():
    if not book_info['available']:
        print(title)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [10]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:


for student, courses in registrations.items():
    if len(courses) > 2:
        print(student)

Ali
Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [13]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16

}

# Write your code here:

total_grade = sum(grades.values())
average_grade = total_grade / len(grades)
print(average_grade)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [14]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

python_count = 0
for student, course_list in courses.items():
    if 'Python' in course_list:
        python_count += 1
print(python_count)

3

Exercise 7: Print titles of books with more than 200 pages.

In [17]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here

for book in book_pages:
    if book_pages[book] > 200:
        print(book)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [20]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

for student, course_list in courses.items():
    print(student, len(course_list))

Ali 2
Sara 2
Reza 2
Lina 2
Omid 1