<a href="https://colab.research.google.com/github/lt33tx/Landon_Tinch_DTSC3020_Fall2025-/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "orange"]
print(fruits)

print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [1]:
names = ["Bob", "David, Pual", "steve"]
names[0] = "Rose"
print(names)

['Rose', 'David, Pual', 'steve']

In [ ]:
vehicles = ["car", "bus", "bike", "train", "truck"]
vehicles.append("scooter")
print(vehicles)

['car', 'bus', 'bike', 'train', 'truck', 'scooter']

In [ ]:
foods = ["pizza", "burger", "pasta", "salad", "rice", "noodles"]
foods.remove("salad")
print(foods)

['pizza', 'burger', 'pasta', 'rice', 'noodles']

In [ ]:
cities = ["Dallas", "Austin", "Houston", "San Antonio"]

cities.sort()
print(cities)

cities.reverse()
print(cities)

['Austin', 'Dallas', 'Houston', 'San Antonio']
['San Antonio', 'Houston', 'Dallas', 'Austin']

In [ ]:
animals = ["dog", "cat", "rabbit"]

for animal in animals:
    print(animal)

dog
cat
rabbit

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num * 2)

2
4
6
8
10

In [ ]:
friends = ["Alice", "Bob", "Charlie", "Diana", "Eve", "Frank"]

print(friends[:3])
print(friends[-3:])

['Alice', 'Bob', 'Charlie']
['Diana', 'Eve', 'Frank']

In [ ]:
nums = list(range(1, 11))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]