<a href="https://colab.research.google.com/github/lt33tx/Landon_Tinch_DTSC3020_Fall2025-/blob/main/Chapter_8_Functions_LT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1 — Introduction to Functions in Python

### What is a Function?
- A function is a reusable block of code that performs a specific task.
- It helps you avoid repetition and makes programs easier to read and maintain.

---

### Why Use Functions?
- To organize code into logical parts.
- To reuse the same logic multiple times.
- To make your code easier to test and debug.

---

### Function with Parameters

In [17]:
def greet(name):
    print(f"Hello, {name}!")

greet("Sara")
greet("Ali")

Hello, Sara!
Hello, Ali!

---

### Return Values
You can use `return` inside a function to give back a result.

#### Example 1: Using `return()`

In [2]:
def add_return(a, b):
    return a + b

result2 = add_return(3, 5)
print("Result2 =", result2)
#With return → the function gives back the value so it can be stored or used later.

Result2 = 8

---

#### Example 2: Using `print`

In [3]:
def add_print(a, b):
    print(a + b)

result1 = add_print(3, 5)
print("Result1 =", result1)
# With `print()` → the function shows the result on screen but `result1` will be `None`.

8
Result1 = None

# Part 2 — Examples

### Example 1: Square a Number
Write a function that takes a number and returns its square.

In [4]:
def square(num):
    return num ** 2

print(square(4))
print(square(9))

16
81

---

### Example 2: Check Even or Odd

In [5]:
def check_even_odd(num):
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")

check_even_odd(7)
check_even_odd(12)

7 is Odd
12 is Even

Note:
- `%` is the modulus operator. It gives the remainder of a division.
- `num % 2` → remainder when num is divided by 2.
- If remainder is 0 → number is even.
- If remainder is 1 → number is odd.

---

### Example 3: Calculate Average of a List

In [18]:
def average(nums):
    return sum(nums) / len(nums)

print(average([10, 20, 30, 40]))

25.0

# Part 3 — Exercises

### Exercise 1 — Greeting Function
Write a function that takes a person’s name and age, then prints:
“Hello, my name is X and I am Y years old.”

In [7]:
def introduce(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

introduce("Sara", 20)

Hello, my name is Sara and I am 20 years old.

### Exercise 2 — Maximum Finder
Write a function that takes three numbers and returns the maximum.

In [8]:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(10, 25, 17))

25

### Exercise 3 — Convert Hours to Minutes

In [9]:
def convert_to_minutes(hours):
    return hours * 60

print(convert_to_minutes(2))
print(convert_to_minutes(1.5))

120
90.0

### Exercise 4 — Online Order Total
Write a function that takes a list of item prices and returns the total bill including 8% tax.

In [10]:
def total_with_tax(prices):
    subtotal = sum(prices)
    tax = subtotal * 0.08
    return subtotal + tax

print(total_with_tax([10, 20, 30]))

64.8

### Exercise 5 — Filter Long Words
Write a function that takes a list of words and returns only the ones longer than 5 characters.

In [11]:
def filter_long_words(words):
    result = []
    for word in words:
        if len(word) > 5:
            result.append(word)
    return result

print(filter_long_words(["python", "ai", "machine", "cat"]))

['python', 'machine']

### Exercise 6 — Shopping Discount

Write a Python function that takes a price and returns the final price after applying a 10% discount if the price is greater than 100; otherwise, return the original price.

In [12]:
def apply_discount(price):
    if price > 100:
        return price * 0.9
    return price

print(apply_discount(150))  # discounted
print(apply_discount(80))   # no discount

135.0
80

### Exercise 7 — Student Pass/Fail

Write a Python function that checks a student’s grade and returns “Pass” if the grade is greater than 50; otherwise, return “Fail”.

In [13]:
def check_pass_fail(grade):
    if grade >= 50:
        return "Pass"
    return "Fail"

print(check_pass_fail(72))
print(check_pass_fail(40))

Pass
Fail

##Exercise 8
Write a Python function that, given a list of numbers, returns how many values are strictly between the list’s minimum and maximum (inclusive).

In [14]:
def count_in_range(numbers, min, max):

    count=0
    for x in numbers:
        if min <= x <= max:
            count += 1
    return count

print(count_in_range([1, 5, 7, 10, 12], 5, 10))

3

##Exercise 9
Write a Python function that takes a list of words and returns only the words with length ≥ min_len characters.

In [15]:
def filter_min_length(words, min_len):
    return [w for w in words if len(w) >= min_len]


print(filter_min_length(["ai", "python", "cat", "machine"], 6))

['python', 'machine']

##Exercise 10

Write a function called calculator that takes three arguments:

number1, number2, operation

(add, subtract, multiply, divide)

The function should return the result of that operation.

In [16]:
def calculator(number1, number2, operation):

    op = operation.strip().lower()

    if op in ("add", "+"):
        return number1 + number2
    elif op in ("subtract", "-"):
        return number1 - number2
    elif op in ("multiply", "*"):
        return number1 * number2
    elif op in ("divide", "/"):
        if number2 == 0:
            return "Error: Cannot divide by zero"
        return number1 / number2
    else:
        return "Error: Unknown operation"

# quick tests
print(calculator(10, 5, "add"))
print(calculator(10, 5, "subtract"))
print(calculator(10, 5, "multiply"))
print(calculator(10, 5, "divide"))
print(calculator(10, 0, "/"))

15
5
50
2.0
Error: Cannot divide by zero

##Final Class Exercise


Assignment Instructions

Find and Download the Student_In_Class -Assignment_Ch 8 notebook file from Canvas

Write your answers

Save the completed notebook file.

Upload the notebook to your GitHub account.

Submit the GitHub link.

This exercise is worth 1 point.